<FluentAccordion>
    <FluentAccordionItem Expanded=true>
        <HeadingTemplate>
            @if (DocumentConfig.DocumentConfigId.Equals(0))
            {
                <FluentLabel Typo="Typography.Body">New Document Configuration</FluentLabel>
            }
            else
            {
                <FluentLabel Typo="Typography.Body">@($"Document Config Id {DocumentConfig.DocumentConfigId}")</FluentLabel>
            }
        </HeadingTemplate>
        <ChildContent>
            <div>
                <FluentTextField Name="Name" @bind-Value="DocumentConfig.Name" Label="Name" ReadOnly="@(DocumentConfig.IsReadOnly)" />
                <FluentValidationMessage For="@(() => DocumentConfig.Name)" />
            </div>
            <div>
                <FluentTextField Name="SubstituteStart" @bind-Value="DocumentConfig.SubstituteStart" Label="Substitute Start" Maxlength="1" ReadOnly="@(DocumentConfig.IsReadOnly)" />
                <FluentValidationMessage For="@(() => DocumentConfig.SubstituteStart)" />
            </div>
            <div>
                <FluentTextField Name="SubstituteEnd" @bind-Value="DocumentConfig.SubstituteEnd" Label="Substitute End" Maxlength="1" ReadOnly="@(DocumentConfig.IsReadOnly)" />
                <FluentValidationMessage For="@(() => DocumentConfig.SubstituteEnd)" />
            </div>
        </ChildContent>
    </FluentAccordionItem>
    <FluentAccordionItem Expanded=true>
        <HeadingTemplate>
            Page Properties
        </HeadingTemplate>
        <ChildContent>
            <div>
                <FluentNumberField @bind-Value="DocumentConfig.PageMarginLeft" Label="Margin Left" ReadOnly="@(DocumentConfig.IsReadOnly)" Min="0" />
            </div>
            <div>
                <FluentNumberField @bind-Value="DocumentConfig.PageMarginTop" Label="Margin Top" ReadOnly="@(DocumentConfig.IsReadOnly)" Min="0" />
            </div>
            <div>
                <FluentNumberField @bind-Value="DocumentConfig.PageMarginRight" Label="Margin Right" ReadOnly="@(DocumentConfig.IsReadOnly)" Min="0" />
            </div>
            <div>
                <FluentNumberField @bind-Value="DocumentConfig.PageMarginBottom" Label="Margin Bottom" ReadOnly="@(DocumentConfig.IsReadOnly)" Min="0" />
            </div>
        </ChildContent>
    </FluentAccordionItem>
    <FluentAccordionItem Expanded=true>
        <HeadingTemplate>
            Paragraph Properties
        </HeadingTemplate>
        <ChildContent>
            <ParagraphProperties T="DocumentParagraphProperties" Model="@DocumentConfig" />
        </ChildContent>
    </FluentAccordionItem>
    <FluentAccordionItem Expanded=true>
        <HeadingTemplate>
            Content Properties
        </HeadingTemplate>
        <ChildContent>
            <ContentProperties T="DocumentContentProperties" Model="@DocumentConfig" FontSource="@FontSource" ColourSource="@ColourSource" />
        </ChildContent>
    </FluentAccordionItem>
</FluentAccordion>

@code {
    [Parameter, EditorRequired]
    public DocumentConfig DocumentConfig { get; set; } = new();

    [Parameter]
    public IEnumerable<DocumentFont>? FontSource { get; set; }

    [Parameter]
    public IEnumerable<DocumentColour>? ColourSource { get; set; }
}