<br />
<FluentGrid Spacing="3">
    <FluentGridItem xs="12" sm="6">
        
        @if (!DocumentConfig.IsReadOnly)
        {
            <FluentButton IconStart="@(new Icons.Regular.Size16.LineHorizontal4Search())" OnClick="@SearchParagraph" Style="margin: 10px">
                Paragraph Search
            </FluentButton>
        }

        @foreach (DocumentConfigParagraph configParagraph in DocumentConfig.ConfigParagraphs.OrderBy(c => c.Order))
        {
            <FluentCard Style="margin: 10px">
                <FluentStack Orientation="Orientation.Horizontal">
                    <FluentNumberField @bind-Value="configParagraph.Order" Label="Order" ReadOnly="@(configParagraph.IsReadOnly)" Min="0" Style="width: 100px" />
                    <FluentLabel>@configParagraph.DocumentParagraph.Name</FluentLabel>
                    <FluentSpacer />

                    @if (!DocumentConfig.IsReadOnly)
                    {
                        <FluentButton IconEnd="@(new Icons.Regular.Size16.Delete())" OnClick="@(() => Remove(configParagraph))" />
                    }

                </FluentStack>
                <div style="margin-top: 10px;margin-bottom: 10px">
                    @configParagraph.DocumentParagraph.DisplayContent()
                </div>
            </FluentCard>
        }
    </FluentGridItem>
</FluentGrid>

@code {
    [Inject]
    public IDialogService? DialogService { get; set; }

    [Parameter, EditorRequired]
    public DocumentConfig DocumentConfig { get; set; } = new();

    private void Remove(DocumentConfigParagraph configParagraph)
    {
        DocumentConfig.ConfigParagraphs.Remove(configParagraph);
    }

    private async Task SearchParagraph(MouseEventArgs args)
    {
        ArgumentNullException.ThrowIfNull(DialogService);

        DialogParameters parameters = new()
            {
                Title = "Select Paragraphs",
                Width = "1500px",
                Height = "800px",
                Modal = true,
                PreventScroll = false
            };

        ParagraphsDialogContent? paragraphsDialogContent= new();

        IDialogReference dialog = await DialogService.ShowDialogAsync<ParagraphsDialog>(paragraphsDialogContent, parameters);

        DialogResult? result = await dialog.Result;

        if (result.Data is not null)
        {
            paragraphsDialogContent = result.Data as ParagraphsDialogContent;

            if(paragraphsDialogContent?.Paragraphs.Count > 0)
            {
                foreach (DocumentParagraph newParagraph in paragraphsDialogContent.Paragraphs)
                {
                    DocumentConfigParagraph? exists = DocumentConfig.ConfigParagraphs.FirstOrDefault(p => p.DocumentParagraph.DocumentParagraphId == newParagraph.DocumentParagraphId);

                    if (exists != null)
                    {
                        continue;
                    }

                    DocumentConfigParagraph configParagraph = new() { DocumentParagraph = newParagraph };

                    if (DocumentConfig.ConfigParagraphs.Count == 0)
                    {
                        configParagraph.Order = 1;
                    }
                    else
                    {
                        configParagraph.Order = DocumentConfig.ConfigParagraphs.Max(c => c.Order) + 1;
                    }

                    DocumentConfig.ConfigParagraphs.Add(configParagraph);
                }
            }
        }
    }
}
