<FluentAccordion>
    <FluentAccordionItem Expanded=true>
        <HeadingTemplate>
            @if (DocumentParagraph.DocumentParagraphId.Equals(0))
            {
                <FluentLabel Typo="Typography.Body">New Document Paragraph</FluentLabel>
            }
            else
            {
                <FluentLabel Typo="Typography.Body">@($"Document Paragraph Id {DocumentParagraph.DocumentParagraphId}")</FluentLabel>
            }
        </HeadingTemplate>
        <ChildContent>
            <div>
                <FluentTextField Name="Name" @bind-Value="DocumentParagraph.Name" Label="Name" ReadOnly="@(DocumentParagraph.IsReadOnly)" />
                <FluentValidationMessage For="@(() => DocumentParagraph.Name)" />
            </div>
            <div>
                <EnumSelectList T="Origin.Core.Models.DocumentParagraphType"
                                @bind-Value="DocumentParagraph.DocumentParagraphType"
                                Label="Paragraph Type" 
                                FieldName="DocumentParagraphType"
                                ReadOnly="@(DocumentParagraph.IsReadOnly)" />
            </div>
        </ChildContent>
    </FluentAccordionItem>
    <FluentAccordionItem Expanded=true>
        <HeadingTemplate>
            Paragraph Properties
        </HeadingTemplate>
        <ChildContent>
            <ParagraphProperties T="DocumentParagraphProperties" Model="@DocumentParagraph" />
        </ChildContent>
    </FluentAccordionItem>
    <FluentAccordionItem Expanded=true>
        <HeadingTemplate>
            Paragraph Content Properties
        </HeadingTemplate>
        <ChildContent>
            <ContentProperties T="DocumentContentProperties" Model="@DocumentParagraph" FontSource="@FontSource" ColourSource="@ColourSource" />
        </ChildContent>
    </FluentAccordionItem>
</FluentAccordion>

@code {
    [Parameter, EditorRequired]
    public DocumentParagraph DocumentParagraph { get; set; } = new();

    [Parameter]
    public IEnumerable<DocumentFont>? FontSource { get; set; }

    [Parameter]
    public IEnumerable<DocumentColour>? ColourSource { get; set; }
}